footer{
    width: 100%;
    background-color: $mainColor;
    .container{
        height: 100px;
        .contact{
            float: left;
            display: inline-block;
            li {
            list-style-type: none;
            margin-left: 30px;
            line-height: 25px;
                a:visited{
                    color: #198e8e;
            }
                a:clicked{
                    color: #198e8e;
                }
            }
        }
        .thankyou{
            float: right;
            line-height: 100px;
        }
    }    
}

@media all and #{$phone} {
    footer{
    .container{
        height: 140px;
        .thankyou{
            line-height: 30px;
        }
    }
}
}

@media all and #{$tablet} {
    footer{
        .container{
            height: 100px;
        }
    }
}