*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", Arial, sans-serif;
}

body {
}

.container {
    width: $containerWidth;
    margin: 0 auto;
//    border: 3px solid black;
//    border-top: 2px dashed #484864;
//    border: 2px solid red;
    
}

header {
    .container:first-of-type{
        border-top: none;
    }
}

//.clearfix {
//    content: '';
//    display: table;
//    clear: both;
//}

.clearfix::before, .clearfix::after {
    content: '';
    display: table;
    clear: both;
}

h2{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}

section {
    background-color: $mainColor;
    .container{
    border-bottom: 2px dashed $additionalColor;
}
}

.hidden{
    display: none;
}

@media all and #{$phone}{
    .container{
        width: 90vw;
    }
}

@media all and #{$tablet}{
    .container{
        width: 90vw;
    }
}