#aboutme {
    .container {
        height: 200px;
        position: relative;
        .slider {
            height: 200px;
            width: 600px;
            overflow: hidden;
            border: 1px solid blue;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .slider::before {
            content: "<";
            line-height: 200px;
            font-size: 40px;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto 0;
            color: $additionalColor;
        }
        .slider::after {
            content: ">";
            line-height: 200px;
            font-size: 40px;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto 0;
            color: $additionalColor;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            float: left;
            display: inline-block;
            width: 400px;
            height: 200px;
            text-align: center;
            position: absolute;
            margin-left: 100px;
            top: 20%;
            left: 0;
        }
    }
}

#achievements {
    .container {
        height: 600px;
    }
}

.wrapper {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
    .left {
        @extend %left;
        text-align: center;
        line-height: 200px;
        background-color: #e8f1f0;
    }
    .right {
        @extend %right;
        text-align: center;
        line-height: 200px;
        background-color: #e8f1f0;
    }
}

.experience {
    width: 100%;
    background-color: white;
    border: 1px solid green;
    ul {
        li {
            margin-left: 50px;
        }
        li.year {
            list-style-type: none;
        }
    }
}

#thoughts {
    .container {
        position: relative;
        height: 300px;
        h3 {
            border-bottom: 4px solid rgb(70, 66, 81);
            display: inline-block;
            margin-left: 40px;
            margin-top: 10px;
        }
        h3.date {
            float: right;
            display: inline-block;
            margin-right: 100px;
            border: none;
        }
        p {
            position: absolute;
            display: block;
            font-family: "Josefin Sans", Arial, sans-serif;
            text-align: center;
            font-size: 25px;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
            margin: 15px 15%;
            border-radius: 10px;
        }
    }
}

#hobby{
    .container{
        position: relative;
        .list-of-hobbies{
            height: 300px;
            display: flex;
            justify-content: center;
        }
        .row{
            width: auto;
        }
        .thing{
            float: left;
            width: 220px;
            height: 220px;
            border: 1px solid red;
            margin-left: 25px;
            margin-top: 30px;
            margin-bottom: 10px;
            
        }
        .thing:first-of-type{
            margin-left: 0;
        }
        .thing:last-of-type{
//            margin-left: 
        }
    }
}